<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>botao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h3> Botões Padrão </h3>
	<ion-button> Nome do Botão </ion-button>
	<br>
	<ion-button href = '#'>Ancora</ion-button>
	<br>
	<ion-button color = 'primary'> Cor Primary </ion-button>
	<br>
	<h3> Botões Expand </h3>
	<ion-button expand ='full'> Full </ion-button>
	<ion-button expand = 'block'> Block </ion-button>
	<h3> Botões Fill </h3>
	<ion-button expand = 'full' fill = 'outline'> Tem Conteudo ++ Full + Outline</ion-button>
	<ion-button expand = 'block' fill = 'outline'> Tem Conteudo ++ Block + Outline</ion-button>
	<ion-button shape = 'round' fill = 'outline'> Tem Conteudo ++ Round + Outline</ion-button>

	<h3> Botões Icones </h3>

	<ion-button>
		<ion-icon slot = 'start' name = 'star'></ion-icon>
		Left Icon
	</ion-button>	

	<ion-button>
		Rigth Icon
		<ion-icon slot = 'end' name = 'star'></ion-icon>
	</ion-button>

	<ion-button>
		<ion-icon slot = 'icon-only' name = 'star'></ion-icon>
	</ion-button>	

	<h3> Botões Tamanhos </h3>

	<ion-button> Default </ion-button>
	<ion-button size = 'large'> Grande </ion-button>
	<ion-button size = 'small'> Pequeno </ion-button>

	


</ion-content>
